$bg-color: #f5f5f5;
$form-height: 60px;
$font-family: Helvetica;
$color-red: #cf3f49;
$rwd-width-1: 569px;
$rwd-width-2: 500px;
$rwd-width-3: 450px;



body {
    background: $bg-color
}

.wrap {
    margin: 0 auto;
    width: 650px;
}

.main {
    width: 650px;
    margin: 0 auto;
    font-family: $font-family;

    .title {
        text-align: center;
        letter-spacing: 5px;
        font: {
            weight: normal;
            size: 2em;
        }
    }

    form {
        max-width: 100%;
    }

    select {
        margin: 5px auto;
        width: 100%;
        height: $form-height;
        text-align: center;
        text-align-last: center;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        font: {
            size: 1em;
        }
        // 取消原有下拉式選單箭頭，並更換自定義箭頭圖案
        // -ms-expand { display: none; }
        // appearance:none;
        // -moz-appearance:none;
        // -webkit-appearance:none;
        // background:url(images/arrow.png) 95% 50%  no-repeat scroll transparent;
        // padding-right: 14px;
    }

    input {
        margin: 5px auto;
        width: 100%;
        height: $form-height;
        letter-spacing: 2px;
        box-sizing: border-box;
        padding-left: 20px;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        font: {
            size: 1em;
        }
    }

    .submit {
        background: $color-red;
        width: 100%;
        height: $form-height;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 13px;

        span {
            padding-right: 26px;
            font: {
                size: 1.5em;
            }
        }

        .fas {
            float: left;
            font-size: 2em;
            padding-left: 10px;
        }
    }
}

@media(max-width: 768px) {
    .main {
        width: $rwd-width-1;
    }
}

@media(max-width: 568px) {
    .main {
        width: $rwd-width-2;
    }
}

@media(max-width: 375px) {
    .main {
        width: $rwd-width-3;
    }
}

.footnote {
    margin: 50px auto;
    letter-spacing: 2px;
    text-align: center;
    font-weight: lighter;
    a {
        color: black;
    }

    .login {
        font-size: 1.3em;

        .login-link {
            color: $color-red;
        }
    }

    .sign-up {
        margin-top: 50px;
        font-size: 1.3em;

        .sign-up-link {
            color: $color-red;
        }
    }
    .forget-password {
        color: $color-red;
        font-size: 1.3em;
    }
}
